# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [23]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

# think of ways to filter out the places...
# there are "" that prevent from using index[0]
# the places have a length longer than two because there is " " that would be the length of one 


def new_places(place):
    
    if len(place) > 2:
        return place

list(filter(new_places, places))

['Argentina', 'San Diego', 'Boston', 'New York']

In [26]:
list(filter(lambda place: len(place) > 2, places))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [28]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [27]:
# example this sorts the names by their length

names = ['Bob', 'Robert', 'Adam', 'William', 'Al']

sorted(names, key=len)

['Al', 'Bob', 'Adam', 'Robert', 'William']

In [66]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

# for name in author:
#     print(name.split()[-1]) # split is used to separate each author's first, middle, and last name 
                              # [-1] represents the name that was split's last index which is now the last name
    

def sort_by_last(author):
    
    author.sort(key = lambda name: name.split()[-1].lower()) # .lower() added because without it cap letters > lower
    
    return author

print(sort_by_last(author))

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

In [61]:
ord('a')

97

In [62]:
ord('A')

65

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [92]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

for place in places:
    
    print(place[0], (9/5) * place[1] + 32)

Nashua 89.6
Boston 53.6
Los Angelos 111.2
Miami 84.2

In [91]:
list(map(lambda place: (place[0], (9 / 5) * place[1] + 32), places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [90]:
def fib(x):
    if x == 0 or x == 1:
        return 1
    else:
        return fib(x-1) + fib(x-2)
    
fib(5)

8

### Exercise #5 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [86]:
def squared(start, step=1):
    stop = 0
    while start >= stop:
        yield start**2
        start -= step

squared(10)

In [88]:
for square in squared(10):
    print(square)

100
81
64
49
36
25
16
9
4
1
0